* {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

.head .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 380px;
}
.head_descr {
  position: relative;
  width: 800px;
  margin-top: 80px;
}
.head_descr .name {
  font-weight: 900;
  font-size: 50px;
}
.head_descr h2 {
  font-size: 36px;
}
.head_descr h2::after {
  content: "junior";
  padding-left: 10px;
  opacity: 0.3;
}
.head_descr .about {
  margin-top: 30px;
  line-height: 40px;
  text-align: justify;
  -webkit-transition: 1s;
  transition: 1s;
}
.head_descr .about .latin {
  font-size: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}
.head_descr .about:hover .latin {
  opacity: 0;
}
.head_descr .about .russian {
  font-size: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}
.head_descr .about .russian a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
}
.head_descr .about .russian a:hover {
  opacity: 1;
}
.head_descr .about:hover .russian {
  opacity: 1;
}
.head_photo {
  -ms-flex-item-align: end;
      align-self: end;
  opacity: 0.9;
}

.title {
  font-weight: 900;
  font-size: 50px;
}

.content {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content_right {
  width: 30%;
  margin-right: 100px;
}
.content_right .tools {
  margin-bottom: 60px;
}
.content_right .tools_1, .content_right .tools_2, .content_right .tools_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.content_right .tools_name {
  font-size: 20px;
}
.content_right .tools .progress {
  width: 150px;
  height: 16px;
  border: 1px solid #969696;
  padding: 1px;
  border-radius: 100px;
}
.content_right .tools .progress .value {
  height: 100%;
  background-color: #523c3c;
  border-radius: 100px;
  -webkit-animation: load 3s normal forwards;
          animation: load 3s normal forwards;
}
.content_right .tools_1 .value {
  width: 55%;
}
.content_right .tools_2 .value {
  width: 20%;
}
.content_right .tools_3 .value {
  width: 10%;
}
.content_right .education {
  margin-bottom: 60px;
}
.content_right .education .date {
  display: block;
  font-weight: 300;
}
.content_right .education .place {
  font-weight: 900;
  line-height: 25px;
}
.content_right .education .wrap {
  margin-bottom: 30px;
  line-height: 35px;
}
.content_right .contact {
  margin-bottom: 60px;
}
.content_right .contact a {
  color: black;
  display: block;
  text-decoration: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.content_right .contact a:hover {
  color: blue;
}
.content_right .languages {
  margin-bottom: 60px;
}
.content_right .languages p {
  margin-bottom: 0;
}
.content_training {
  width: 70%;
}
.content_training_1, .content_training_2, .content_training_3, .content_training_4, .content_training_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
.content_training_1 p, .content_training_2 p, .content_training_3 p, .content_training_4 p, .content_training_5 p {
  margin-bottom: 0;
}
.content_training_1 .name, .content_training_1 .skill, .content_training_2 .name, .content_training_2 .skill, .content_training_3 .name, .content_training_3 .skill, .content_training_4 .name, .content_training_4 .skill, .content_training_5 .name, .content_training_5 .skill {
  font-weight: 300;
}
.content_training_1 .wrap, .content_training_2 .wrap, .content_training_3 .wrap, .content_training_4 .wrap, .content_training_5 .wrap {
  height: 100px;
  width: 300px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 0.6;
}
.content_training_1 .wrap:hover, .content_training_2 .wrap:hover, .content_training_3 .wrap:hover, .content_training_4 .wrap:hover, .content_training_5 .wrap:hover {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */