* {
    font-family: 'Roboto', sans-serif;
}

nav {
    position: relative;
    background: #212121;
    ;
}

.menu {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    margin: 0;
    list-style: none;
}

.menu li {
    display: flex;
    align-items: center;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;

}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 45px;
}

.subheader {
    position: absolute;
    width: 100%;
    background: rgba(0,0,0, .6);
}

.subheader .row {
    min-height: 87px;

}

.subheader .subheader_logo {
    display: block;
    min-width: 100%;
}

.subheader .subheader_txt {
    margin-top: 4px;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
}

.subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
}

.subheader .subheader_num {
    margin-top: 5px;
    display: block;
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;  
    color: #FFFFFF;
    line-height: 22px;
}

.subheader .subheader_btn, .promo .promo_btn {
    display: block;
    margin: 0 auto;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    border: none;
}

.promo{
    padding: 190px 0 180px 0;
    min-height: 800px;
    background: url('../img/uber_bg.jpg') center center/cover no-repeat;

}

.promo h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.promo h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 2  8px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 20px 0 15px 0;
}

.promo .promo_txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 30px;
}

.promo .promo_btn {
    width: 259px;
    height: 63px;
    font-size: 18px;
    margin-top: 115px;
}

.adv {
    min-height: 850px;
    padding: 20px 0 20px 0;
}

.adv .adv_btn {
    display: block;
    margin: 0 auto;
    width: 115px;
    height: 27px;
    background: #000000;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border:none;
}

.adv .adv_h {
    margin-top: 32px;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.adv .round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px 0 35px;
    height: 116px;
    min-width: 116px;
    background: #1EACC7;
    border-radius: 100%;
}

.adv .box {
    display: flex;
    justify-self: flex-start;
    margin: 25px 0 0 0;
}

.adv .box .adv_box_txt {
    width: 370px;
    min-height: 150px;
}

.adv .box .adv_box_txt .adv_txt_head {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}

.adv .box .adv_box_txt p {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
    margin: 5px 0 0 0;
    text-align: justify;

}