* {
  font-family: "Poppins", sans-serif;
}

body {
  background: #F1F1EB;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jfc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first_btn {
  height: 50px;
  padding: 0 17px;
  border: 2px solid #4B321D;
  border-radius: 3px;
  font-size: 20px;
  line-height: 29px;
  color: #4B321D;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.first_btn:hover {
  color: #F1F1EB;
  background-color: #4B321D;
}

header {
  height: 128px;
  padding: 40px 0;
}
header .main_menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
header .main_menu li {
  margin-right: 36px;
}
header .main_menu li:last-child {
  margin-right: 0px;
}
header .main_menu li a {
  font-size: 18px;
  line-height: 29px;
  color: #4B321D;
  text-decoration: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
header .main_menu li a:hover {
  color: #ff6f00;
}
header nav {
  width: 630px;
  height: 48px;
}

.section_1 {
  padding-top: 84px;
}
.section_1 h1 {
  font-weight: 400;
  font-size: 80px;
  line-height: 100px;
  margin: 0 60px;
  color: #4B321D;
  margin: 0;
}
.section_1 .mainBackground {
  display: block;
  margin: 136px 20px 0 20px;
  height: 928px;
  border-radius: 16px;
  background: url(../img/main_bg.jpg) center center/cover no-repeat;
}

.title {
  font-weight: 400;
  font-size: 80px;
  line-height: 100px;
  margin: 0 60px;
  color: #4B321D;
}

.section_2 {
  position: relative;
  padding: 84px 0;
  min-height: 300px;
}
.section_2 button {
  position: absolute;
  bottom: 0;
  left: 60px;
}

.section_3 {
  min-height: 1066px;
}
.section_3 .frame {
  margin: 90px 40px;
  gap: 100px;
}
.section_3 .frame .info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}
.section_3 .frame .info .descr {
  font-size: 38px;
  line-height: 44px;
  color: #4B321D;
}
.section_3 .frame .img {
  height: 886px;
  min-width: 590px;
  border-radius: 30px;
}
.section_3 .frame_1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.section_3 .frame_1 .img {
  background: url(../img/slide_1.jpg) center center/cover no-repeat;
}
.section_3 .frame_2 .img {
  background: url(../img/slide_2.jpg) center center/cover no-repeat;
}

.section_4 .wrapper {
  padding: 80px 40px;
  min-height: 476px;
  background-color: #4B321D;
  border-radius: 16px;
}
.section_4 .wrapper .title, .section_4 .wrapper .txt {
  margin: 0;
  color: #F1F1EB;
}
.section_4 .wrapper .txt {
  margin-top: 30px;
  font-size: 26px;
  line-height: 36px;
}

.section_5 {
  position: relative;
  height: 380px;
  padding: 80px 0;
}
.section_5 button {
  position: absolute;
  bottom: 100px;
  left: 60px;
}

footer {
  min-height: 396px;
}
footer .wrap {
  padding: 100px 0;
}
footer .wrap .leftside {
  width: 50%;
  height: 196px;
}
footer .wrap .leftside p {
  font-size: 18px;
  line-height: 29px;
}
footer .wrap .rightside {
  width: 50%;
  height: 196px;
}
footer .wrap .rightside ul {
  height: 196px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
footer .wrap .rightside ul li a {
  font-size: 18px;
  line-height: 29px;
  color: #4B321D;
  text-decoration: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
footer .wrap .rightside ul li a:hover {
  color: #ff6f00;
}/*# sourceMappingURL=style.css.map */